<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan1android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="vn.poly.quanlybanhang.Activity.KhachHangActivity"></activity>
        <activity android:name="vn.poly.quanlybanhang.Activity.ThemKhachHangActivity"></activity>
        <activity android:name="vn.poly.quanlybanhang.Activity.ChiTietSanPhamActivity" />
        <activity android:name="vn.poly.quanlybanhang.Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.poly.quanlybanhang.Activity.BoLocActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.DialogThemMatHang"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.DonHangActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.ThemSanPhamActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.SanPhamActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.SuaSanPhamActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.LoaiSanPhamActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.ThemLoaiSanPham"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.SuaLoaiSanPhamActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.ThemDonViTinh"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.SuaDonViTinh"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.DonViTinhActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.ThemNguoiDungActivity" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.SuaNguoiDungActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.NguoiDungActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.MatHangActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.GioiThieuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.GioiThieu2Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.GioiThieu3Acitivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vn.poly.quanlybanhang.Activity.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>